table.calendar td.row_header {
	font-weight: bold;
}
body {
  background-color: white;
  font-family: sans-serif;
}

table.calendar {
  border-collapse: collapse;
  border: 1px solid lightblue;
  background-color: aliceblue;
}

table.calendar thead {
  background-color: lightblue;
  margin-bottom: 3px;
  border-bottom: 2px solid white
}

table.calendar thead th {
  font-weight: normal;
  padding: 10px 3px;
}

table.calendar thead th.bolder {
  font-weight: bold;
}

table.calendar tbody {
  font-size: 0.8em;
}

table.calendar td {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border: 1px solid lightblue;
  min-width: 15px;
}

table.calendar tr:last-child td {
  border-bottom: none;
}

table.calendar td.otherMonth{
  color: grey;
  cursor: default;
  pointer-events: none;
}

table.calendar td.selected {
  color: red;
  font-weight: bold;
}
